* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: black;
	display: flex;
	font-family: 'Chilanka', cursive;
}

h1 {
		text-transform: uppercase;
		color: #fff;
		font-weight: 800;
		font-size: 28px;
		cursor: pointer;
		margin-top: 50px;
		margin-left: 10%;
}

a {
	text-decoration: none;
}

.myNav {
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 20px;
	font-weight: bold;
}

.myNav a {
	color: white;
	font-size: 24px;
	text-align: center;
	padding: 10px 12px;
	font-weight: bold;
}

.myNav a:hover {
	border-bottom: 2px solid white;
}

li {
	list-style: none;
}

nav {
	margin-top: 40px;
	margin-left: 23%;
}

footer {
	width: 100%;
	background-color: black;
	display: flex;
	font-family: 'Chilanka', cursive;
	height: 100px;
}
.myFooter {
	color: white;
	margin-top: 40px;
	margin-left: 40%;
}

.myFooter a {
	font-size: 24px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 12px 14px;
}

.post-announce__container {
	padding: 12px;
	font-size: 18px;
}
img {
	height:250px;
	width: 400px;
	margin-right: 20px;
}

.post {
	color: black;
	display: flex;
}

.paragraph {
}